.footer__item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--black-color);
  transition: 0.3s;
}
@media (max-width: 930px) {
  .footer__item {
    gap: 0;
  }
}
