.footer__item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--black-color);
  transition-duration: 0.3s;
}

@media (max-width: 1199px) {
  .footer__item {
    gap: 11;
  }
}

@media (max-width: 930px) {
  .footer__item {
    gap: 0;
  }
}
