.stories__btn {
  z-index: 3;
  padding: 11px 27px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  transition-duration: 0.3s;
  cursor: pointer;
}

.stories__btn::before {
  background-color: #00000000;
  transition: background-color 0.2s ease;
}

@media (max-width: 930px) {
  .stories__btn {
    padding: 5px 27px;
    gap: 15px;
  }
}
