.feedback__email {
  color: var(--black-color);
  text-decoration: none;
  transition-duration: 0.3s;
}

.feedback__email:hover {
  box-shadow: 0 1px 0 var(--black-color);
  transition: box-shadow 0.3s ease;
}

.feedback__email:active {
  color: var(--primary-color);
}
