.tours-form__checkbox-text {
  padding-bottom: 33px;
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: 0.007em;
}

.tours-form__checkbox-text .tours-form__input {
  padding: 3px 0 0 8px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--black-color);
  accent-color: var(--white-color);
}

@media (max-width: 1199px) {
  .tours-form__checkbox-text {
    padding-bottom: 34px;
    gap: 11px;
  }
}

@media (max-width: 930px) {
  .tours-form__checkbox-text {
    width: 278px;
    height: auto;
    padding-bottom: 30px;
    gap: 8px;
    font-size: 16px;
    line-height: 142%;
    align-items: normal;
  }

  .tours-form__checkbox-text input {
    width: 39px;
    height: 21px;
  }
}
