.services__item {
  z-index: 0;
  position: relative;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
}

.services__item:hover .services__icon {
  transform: none;
}

.services__item:hover .services__btn {
  transform: scale(1);
  border-radius: 50px;
  background-color: var(--primary-color);
}

.services__item:hover img {
  transform: scale(1.2);
  object-fit: cover;
}

.services__item:active .services__btn {
  background-color: var(--active-color);
}

@media (max-width: 1199px) {
  .services__item {
    width: 450px;
    height: 531px;
  }
}

@media (max-width: 930px) {
  .services__item {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    background-size: cover;
  }
}

@media (max-width: 350px) {
  .services__item {
    width: 290px;
    height: 290px;
    justify-content: center;
  }
}
