@media (max-width: 1199px) {
  .header {
    object-position: top;
    object-fit: cover;
    background-image: url(./images/headerImgFull.png);
  }

  .header__img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 830px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .header__nav {
    gap: 83px;
  }

  .header__title {
    left: 50%;
    transform: translateX(-50%);
  }

  .header__subtitle {
    width: 422px;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__search {
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-link {
    gap: 30px;
  }

  .services {
    width: 918px;
    gap: 18px;
    grid-template-columns: repeat(2, 450px);
  }

  .service__name {
    width: 350px;
  }

  .service,
  .service__img,
  .gradient {
    width: 450px;
    height: 531px;
  }
  .main__title-history {
    padding-top: 100px;
  }

  .form {
    width: 918px;
    padding: 60px 0px 60px 0px;
  }

  .form-wrapper {
    width: 918px;
    row-gap: 33px;
    column-gap: 20px;
  }

  .title_gallery {
    padding-top: 135px;
  }

  .comments-block {
    padding-top: 33px;
    padding-left: 60px;
  }

  .input-box,
  .input {
    width: 389px;
    height: 68px;
    margin-bottom: 36px;
  }

  .main__reviews {
    gap: 18px;
  }

  .input-comments {
    width: 758px;
  }

  .comments {
    margin-top: 0px;
  }

  .wrapper-review {
    width: 370px;
    height: 801px;
  }

  .none-one {
    display: none;
  }

  .story-photo {
    width: 918px;
    height: 567px;
  }
  .footer-social {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-social-media {
    gap: 277px;
  }

  .subtitle__reviews {
    padding-bottom: 103px;
  }

  .form-age {
    padding-bottom: 12px;
  }

  .subtitle__gallery {
    padding-bottom: 108px;
  }
}

@media (max-width: 930px) {
  .header {
    height: 488px;
    background-image: url(./images/headerImgFull.png);
  }

  .header__img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 488px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 80%
    );
  }

  .nav-link {
    display: none;
  }

  .header__logo,
  .logo {
    width: 133px;
    height: 22px;
  }

  .header__number {
    font-size: 16px;
  }

  .header__nav {
    gap: 63px;
    align-items: center;
  }

  .header__title {
    padding-bottom: 40px;
    padding-top: 88px;
    margin-top: -35px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }

  .header__subtitle {
    width: 310px;
    top: 295px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 142%;
  }

  .header__search {
    top: 403px;
    left: 50%;
    transform: translateX(-50%);
    width: 114px;
    height: 34px;
    font-size: 14px;
    color: black;
    cursor: pointer;
  }

  .main__title {
    margin-bottom: 30px;
    padding-top: 75px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }

  .main__title-history {
    padding-top: 57px;
  }

  .main__link {
    margin-left: 6px;
    font-size: 15px;
    line-height: 102%;
  }
  .main__nav {
    padding-top: 0;
    height: 56px;
    row-gap: 1px;
    column-gap: 15px;
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }

  .services {
    padding-top: 50px;
    width: 318px;
    grid-template-columns: repeat(1, 318px);
  }

  .service,
  .service__img,
  .gradient {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    background-size: cover;
  }

  .service__price {
    top: 66px;
    left: 25px;
    font-size: 16px;
  }

  .service__name {
    top: 25px;
    left: 25px;
    width: 270px;
    font-size: 23px;
    line-height: 120%;
  }

  .btn-more-details {
    bottom: 26.5px;
    left: 25px;
    font-size: 16px;
  }

  .main__subtitle {
    padding-bottom: 40px;
    width: 98%;
    text-align: center;
    font-size: 16px;
  }

  .subtitle__reviews {
    padding-bottom: 46px;
  }

  .form {
    width: 318px;
    padding: 20px 0px 40px 0px;
    border-radius: 30px;
  }

  .form-wrapper {
    width: 318px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .input-box,
  .input,
  .details-direction {
    width: 278px;
    height: 43px;
    margin-bottom: 41px;
    border-radius: 10px;
    font-size: 16px;
  }

  .details {
    font-size: 16px;
  }

  .input-comments {
    width: 238px;
    height: 92px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .comments-block {
    margin-top: -10px;
    padding-left: 20px;
  }

  .form-age {
    padding-top: 110px;
  }

  .form-age,
  .age-option {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }

  .checkbox-text {
    width: 278px;
    height: auto;
    padding-bottom: 28px;
    font-size: 16px;
    line-height: 142%;
  }

  .checkbox-text input {
    width: 40px;
    height: 24px;
  }

  .btn-form-find,
  .btn-form-reset {
    width: 135px;
    height: 47px;
    padding: 12px 30px;
    align-items: center;
    font-size: 14px;
  }

  .change-age {
    padding-bottom: 30px;
    align-items: center;
  }

  .radio-style {
    width: 20px;
    height: 20px;
  }

  .radio-box:checked + .radio-style::before {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-top: 4px;
  }

  .form-agree {
    gap: 10px;
  }

  .main__reviews {
    flex-wrap: wrap;
    gap: 18px;
  }

  .wrapper-review {
    margin: 0px 20px 0px 20px;
    padding: 20px;
    border-radius: 20px;
  }

  .review-text {
    font-size: 16px;
    line-height: 142%;
  }

  .review-photo {
    bottom: 20px;
    right: 20px;
  }

  .review-one {
    width: 318px;
    height: 368px;
  }

  .review-two {
    width: 318px;
    height: 552px;
  }

  .review-name {
    bottom: 52px;
    font-size: 23px;
  }

  .review-typ {
    bottom: 20px;
    font-size: 16px;
  }

  .gallery-photos {
    padding-bottom: 18px;
    gap: 18px;
  }

  .none {
    display: none;
  }

  .gallery-photo {
    width: 154px;
    height: 110px;
    border-radius: 20px;
  }

  .gallery-small {
    gap: 12.5px;
  }

  .gallery-photo-small {
    width: 99px;
    height: 110px;
    border-radius: 20px;
  }

  .story-photo {
    margin-bottom: 20px;
    border-radius: 20px;
    background-size: cover;
  }

  .story,
  .gradient-story {
    margin-bottom: 20px;
    width: 318px;
    height: 455px;
    border-radius: 20px;
  }

  .story-title {
    top: 30px;
    left: 30px;
    width: 236px;
    font-size: 23px;
    line-height: 120%;
  }

  .story-subtitle {
    left: 30px;
    top: 106px;
    width: 263px;
    font-size: 16px;
  }

  .history-nav-link {
    display: none;
  }

  .main__storys {
    padding-bottom: 55px;
  }

  .feedback-img {
    width: 130px;
    height: 133px;
    align-items: center;
    border-radius: 20px;
  }

  .feedback-text {
    padding-top: 0px;
    justify-content: center;
  }

  .feedback-title {
    text-align: center;
    font-size: 23px;
    line-height: 120%;
  }

  .feedback-subtitle {
    width: 291px;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  .footer-title {
    width: 98%;
    padding-top: 21px;
    font-size: 16px;
    text-align: center;
  }

  .footer-social-media {
    width: 98%;
    display: block;
    align-items: center;
  }

  .footer-social {
    padding-top: 7px;
    padding-bottom: 21px;
    gap: 5px;
    justify-content: center;
  }

  .name-social {
    font-size: 16px;
  }

  .btn-social {
    gap: 2px;
  }

  .select::after {
    margin-top: 25px;
    margin-left: -32px;
  }

  .main__feedback {
    padding-bottom: 75px;
  }

  .btn-styled {
    object-fit: cover;
  }

  .btn-double-styled {
    background-color: #efa501;
  }
}

@media (max-width: 350px) {
  .header__number {
    font-size: 12px;
  }

  .header__subtitle {
    width: 276px;
  }

  .services {
    width: 290px;
    padding-left: 18px;
  }
  .comments-block {
    padding-left: 26px;
  }

  .service,
  .service__img,
  .gradient {
    width: 290px;
    height: 290px;
    justify-content: center;
  }

  .main__title {
    font-size: 30px;
  }

  .name-social {
    font-size: 12px;
  }

  .btn-form-find,
  .btn-form-reset {
    width: 125px;
    height: 47px;
    font-size: 13px;
  }

  .story,
  .gradient-story {
    width: 290px;
    height: 430px;
  }

  .gallery-photo {
    width: 134px;
  }

  .gallery-photo-small {
    width: 88px;
  }

  .form-wrapper {
    width: 290px;
  }

  .form {
    width: 290px;
  }

  .input-comments {
    width: 218px;
    padding: 10px;
  }

  .form-agree {
    gap: 5px;
  }

  .input-box,
  .input,
  .details-direction {
    width: 238px;
    font-size: 14px;
  }

  .review-text {
    font-size: 14px;
  }
  .review-typ {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .main__link {
    margin-left: 0;
  }
}
