@media (max-width: 1199px) {
.header__nav{
    gap: 83px;
}

.nav-link{
    gap: 30px;
}

.services{
    gap: 18px;
}
.service,
.service__img,
.gradient{
width: 450px;
height: 531px;
}

.form{
    width: 918px;
    padding: 60px 0px 60px 0px;
}

.form-wrapper {
    width: 918px;
    gap: 20px;
}

.comments-block{
    padding-top: 33px;
    padding-left: 65px;
}

.input-box,
.input{
    width: 389px;
    height: 68px;
    margin-bottom: 33px;
}

.input-comments {
    width: 800px;
}

.wrapper-review {
    width: 450px;
    height: 841px;
}

.gallery-photo-small-none,
.gallery-photo-none{
    display: none;
}

.story-photo{
    width: 918px;
    height: 567px;
}

.footer-title{
    margin-left: 53px;
}

.footer-social{
    margin-right: 53px;
}

}
    
@media (max-width: 550px) {

.header{
    height: 488px;
}

.nav-link{
    display: none;
}

.header__logo,
.logo{
    width:133px;
    height: 22px;
}

.header__number{
    font-size: 16px;
}

.header__nav{
    gap: 63px;
    align-items: center;
}

.header__title{
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    margin-top: 50px;
}

.header__subtitle{
    font-size: 16px;
    width: 310px;
    margin: auto;
    margin-bottom: 40px;
    line-height: 142%;
}

.header__search {
    width: 114px;
    height: 34px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.main__title {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    padding-top: 75px;
}


.main__link {
    font-size: 16px;
}

.main__nav {
    font-size: 16px;
    row-gap: 10px;
    width: 360px;
    height: 56px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.service, .service__img, .gradient {
    width: 318px;
    height: 360px;
    border-radius: 20px;
    background-size: cover;
}

.service__price{
    font-size: 16px;
    top: 66px;
    left: 25px;
}

.service__name {
    font-size: 23px;
    line-height: 120%;
    top: 25px;
    left: 25px;
}

.btn-more-details{
    bottom: 26.5px;
    left: 25px;
    font-size: 16px;
}

.main__subtitle {
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 142%;
}


.form {
    width: 318px;
    padding: 40px 10px 40px 0px;
    border-radius: 30px;
}

.form-wrapper {
    width: 318px;
    flex-wrap: wrap;
}

.input-box, .input,
.details-direction {
    margin-bottom: 30px;
    border-radius: 10px;
    width: 278px;
    height: 43px;
    font-size: 16px;
}

.details {
    font-size: 16px;
}

.input-box ::placeholder{
    padding-left: 10px;
}

.input-comments {
    width: 278px;
    height: 132px;
}

.comments-block {
    padding-top: 15px;
    padding-left: 20px;
}

.form-age,
.age-option {
    font-size: 16px;
}

.checkbox-text {
    font-size: 16px;
    width: 278px;
    height: 69px;
    line-height: 142%;
}

.btn-form-find, .btn-form-reset {
    font-size: 14px;   
    width: 135px;
    height: 47px;
    padding: 12px 30px;
    align-items: center;
}

.change-age {
    padding-bottom: 30px;
    align-items: center;
}

.form-agree {
    gap: 10px;
}

.main__reviews {
    flex-wrap: wrap;
}

.wrapper-review {
    border-radius: 20px;
    padding: 20px;
}

.review-text{
    font-size: 16px;
}

.review-one{
    width: 318px;
    height: 408px;
}

.review-two{
    width: 318px;
    height: 592px;
}

.review-name {
    font-size: 23px;
}

.review-typ {
    font-size: 16px;
}

.gallery-photos {
    gap: 18px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 18px;
}

.none{
    display: none;
}

.gallery-photo{
    border-radius: 20px;
    width: 150px;
    height: 110px;
}

.gallery-photo-small{
    border-radius: 20px;
    width: 99px;
    height: 110px;
}

.story-photo{
    margin-bottom: 20px;
    border-radius: 20px;
    background-size: cover;
}

.story,
.gradient-story {
    margin-bottom: 20px;
    border-radius: 20px;
    width: 318px;
    height: 455px;
}

.story-title {
    font-size: 23px;
    top: 30px;
    left: 30px;
    width: 236px;
    line-height: 120%;
}

.story-subtitle {
    font-size: 16px;
    left: 30px;
    top: 106px;
    width: 263px;
}

.history-nav-link {
    display: none;
}

.main__storys {
    padding-bottom: 70px;
}

.feedback-img {
    border-radius: 20px;
    width: 130px;
    height: 133px;
    align-items: center;
}

.feedback-text {
    padding-top: 30px;
    margin: auto;
    justify-content: center;
}

.feedback-title {
    font-size: 23px;
    line-height: 120%;
    text-align: center;
}

.feedback-subtitle {
    font-size: 16px;
    text-align: center;
}

.footer-title {
    font-size: 16px;
    text-align: center;
    margin-left: 92px;
    margin-top: 21px;
}

.footer-social {
    justify-content: center;
    gap: 15px;
    padding-top: 7px;
    padding-bottom: 21px;
    margin-right: 21px;
}

.name-social {
    font-size: 16px;
}

.btn-social {
    gap: 5px;
}

}
