html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 830px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-size: cover;
  background-image: url(./images/header-img.png);
}

.details-direction {
  color: #a6a6a6;
}

.details-direction option {
  color: black;
}

.header__nav {
  display: flex;
  height: 88px;
  justify-content: center;
  align-items: center;
  gap: 180px;
  background-color: rgba(0, 0, 0, 0);
}

.fixed {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 100px;
  transition: 0.3s;
  backdrop-filter: blur(54px);
  background: rgba(243, 239, 232, 0.6);
  box-shadow: 0px 0px 29px -11px rgb(0, 0, 0, 0.3);
  color: black;
}

.nav-link {
  display: flex;
  justify-content: center;
  gap: 50px;
  box-sizing: border-box;
}

.header__link,
.header__number {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  transition: border-color 0.3s;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.header__link::after,
.header__number::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  transition-duration: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header__link:hover::after,
.header__number:hover::after {
  border-bottom-color: #fff;
}

.fixed-link,
.fixed-number {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  transition: border-color 0.3s;
  color: black;
}

.fixed-link::after,
.fixed-number::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.fixed-link:hover::after,
.fixed-number:hover::after {
  border-bottom-color: black;
}

.header__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  padding-bottom: 50px;
  padding-top: 117px;
  color: #fff;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
}

.header__subtitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 572px;
  width: 562px;
  padding-bottom: 50px;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.header__search {
  position: absolute;
  width: 118px;
  height: 34px;
  left: 50%;
  transform: translateX(-50%);
  top: 679px;
  border-radius: 10px;
  border: 0;
  font-size: 17px;
  padding: 5px 20px;
  letter-spacing: -0.17px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #efa501;
    color: #fff;
  }

  &:active {
    background-color: #f8e6be;
    color: black;
  }
}

.wrapper {
  background-color: #f9f7f4;
  overflow-x: hidden;
}

.main__title {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 135px;
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  color: #1b1f2b;
}

.title__tour {
  margin-bottom: 35px;
}

.main__title-history {
  padding-top: 105px;
}
.main__nav {
  padding-top: 7px;
}

.main,
.main__nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 23px;
  flex-wrap: wrap;
}
.main__link {
  position: relative;
  display: inline-block;
  border: none;
  padding: 0;
  padding-bottom: 6px;
  transition: box-shadow 0.3s;
  transform: 0.3s;
  font-weight: 700;
  font-size: 23px;
  color: #1b1f2b;
  cursor: pointer;
  text-decoration: none;
  background-color: #f9f7f4;
}

.main__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px;
  content: "";
}

.main__link:hover {
  box-shadow: 0 2px 0 black;
}

.active {
  color: #efa501;
  box-shadow: 0 2px 0 #efa501;
}

.main__link.active {
  color: #efa501;
  box-shadow: 0 2px 0 #efa501;
}

.services {
  display: grid;
  justify-content: center;
  width: 1170px;
  padding-top: 110px;
  gap: 30px;
  margin: auto;
  grid-template-columns: repeat(3, 370px);
}

.service {
  position: relative;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
}

.service__img {
  width: 370px;
  height: 531px;
  border-radius: 50px;
  object-fit: cover;
  transition: transform 0.3s;
}

.btn-more {
  display: flex;
  gap: 15px;
  background-color: transparent;
}

.vector {
  width: 24px;
  background: transparent;
}

.service:hover .vector {
  transform: none;
}

.btn-more-details {
  position: absolute;
  z-index: 3;
  display: flex;
  left: 30px;
  bottom: 43px;
  border: none;
  padding: 7px 20px;
  background: transparent;
  transition: 0.3s;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #fff;
  cursor: pointer;
}

.btn-more-details::before {
  position: absolute;
  z-index: -1;
  padding: 7px 25px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease;
}

.service:hover .btn-more-details,
.service:focus .btn-more-details {
  transform: scale(1);
  border-radius: 50px;
  background-color: #286562;
}

.service:hover img,
.service:focus img {
  transform: scale(1.2);
  object-fit: cover;
}

.service:active .btn-more-details {
  background-color: #efa501;
}

.gradient {
  position: absolute;
  z-index: 1;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  cursor: pointer;
}

.service__name {
  position: absolute;
  z-index: 2;
  width: 270px;
  top: 50px;
  left: 50px;
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  line-height: 122%;
  cursor: pointer;
}

.service__price {
  position: absolute;
  z-index: 2;
  top: 152px;
  left: 50px;
  width: 270px;
  font-size: 17px;
  line-height: 142%;
  color: #fff;
  cursor: pointer;
}

.form {
  width: 1040px;
  height: auto;
  margin: auto;
  padding: 70px;
  display: block;
  background-color: #fff;
  border-radius: 50px;
}

.form-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.input-comments {
  width: 990px;
  height: 112px;
  margin-bottom: 33px;
  margin-top: 8px;
  padding: 20px;
  border: 1px solid #f4f0e9;
  background-color: #f9f7f4;
  text-align: start;
  overflow: auto;
  resize: none;
  font-size: 20px;
  border-radius: 10px;

  &:focus {
    outline: 1px solid #a6a6a6;
  }
}

.comments {
  margin-top: 33px;
}

.input-box {
  width: 500px;
  height: 104px;
  display: block;
  margin-bottom: 3px;
  cursor: pointer;
}

.input-box input {
  margin-top: 10px;
  text-indent: 20px;
}

input[type="date"] {
  text-indent: 10px;
  color: #a6a6a6;
}

::placeholder {
  color: #a6a6a6;
}

::-webkit-calendar-picker-indicator {
  padding: 20px;
  cursor: pointer;
}

.input-box select {
  border: none;
  outline: none;
}

.input-box option {
  color: black;
}

.details-direction option {
  color: black;
  cursor: pointer;
}

.details-direction:focus,
.details-direction:invalid {
  color: black;
}

.input-box ::placeholder {
  color: #a6a6a6;
}

.input {
  width: 100%;
  height: 68px;
  padding: 0;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  background-color: #f9f7f4;
  font-size: 20px;
  transition: 0.3s;
}

.select::after {
  position: absolute;
  width: 13px;
  height: 13px;
  margin-top: 40px;
  margin-left: -40px;
  content: url(./images/стрелка.svg);
}

.select-option {
  cursor: pointer;
}

.details-direction {
  width: 100%;
  height: 68px;
  padding-left: 20px;
  margin-top: 10px;
  border: 1px solid #f4f0e9;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border-radius: 10px;
  background-color: #f9f7f4;
  font-size: 20px;
  transition: 0.3s;
  color: #a6a6a6;
}

.input:hover,
.details-direction:hover,
.input-comments:hover {
  background-color: #f4f0e9;
  cursor: pointer;
}

.input:focus,
.details-direction:focus {
  outline: 1px solid #a6a6a6;
}

input:invalid {
  box-shadow: none;
  outline: none;
}

.details {
  padding-bottom: 10px;
  font-size: 20px;
}

.option .holder {
  padding-left: 20px;
}

.age-option {
  display: flex;
  gap: 30px;
  cursor: pointer;
  transform: 0.3s;
}

.form-age {
  padding-top: 115px;
  padding-bottom: 8px;
  transform: 0.3s;
  font-size: 20px;
}

.label {
  font-size: 20px;
  cursor: pointer;
}

.change-age {
  display: flex;
  padding-bottom: 33px;
  margin-left: -10px;
  align-items: center;
  gap: 10px;
  accent-color: black;
  transform: 0.3s;
}

.radio-box {
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  transform: 0.3s;
}

.radio-box:checked + .radio-style::before {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 50%;
  transform: 0.3s;
  content: "";
}

.radio-style {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transform: 0.3s;
}

.form-agree {
  display: flex;
  gap: 30px;
}

.checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0px;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.stroke::after {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  content: url(./images/stroke.svg);
}

.checkbox-text {
  display: flex;
  padding-bottom: 33px;
  align-items: center;
  gap: 10px;
}

.checkbox-text input {
  width: 24px;
  height: 24px;
  padding-left: 8px;
  padding-top: 3px;
  border: 2px solid black;
  accent-color: #fff;
}

.check {
  color: #a6a6a6;
  font-size: 17px;
}

.check-agreement {
  color: black;
  font-size: 17px;
  text-decoration: none;
  transition: 0.7s;

  &:hover {
    border-bottom: 1px solid black;
  }

  &:active {
    color: #286562;
  }
}

.btn-form-find,
.btn-form-reset {
  width: 235px;
  height: 58px;
  border: none;
  padding: 15px 30px;
  background-color: #286562;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #3b7e7b;
  }

  &:active {
    background-color: #627f7e;
  }
}

.btn-form-reset {
  background-color: #e0f0e5;
  color: #286562;
  transition: 0.3s;
  &:hover {
    background-color: #f1f3f2;
  }

  &:active {
    background-color: #d9dfdb;
  }
}

.main__subtitle {
  width: 418px;
  margin: auto;
  margin-top: -5px;
  padding-bottom: 100px;
  color: #a6a6a6;
  font-size: 20px;
  line-height: 142%;
}

.subtitle__gallery {
  padding-bottom: 102px;
}

.title_gallery {
  padding-top: 138px;
}

.main__reviews {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.wrapper-review {
  position: relative;
  width: 490px;
  height: 633px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  background-color: #f4f0e9;
  list-style: none;
  border-radius: 50px;
}

.review-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}

.review-name {
  position: absolute;
  bottom: 72px;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

.review-typ {
  position: absolute;
  bottom: 40px;
  font-size: 17px;
  line-height: 142%;
  color: #a6a6a6;
}

.review-photo {
  position: absolute;
  width: 75px;
  height: 75px;
  bottom: 40px;
  right: 40px;
  border-radius: 100px;
}

.gallery-photos {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.gallery-photo,
.gallery-photo-none {
  height: 300px;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.gallery-photo-small,
.gallery-photo-small-none {
  width: 100%;
  height: 300px;
  border-radius: 50px;
  object-fit: cover;
}

.main__storys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 85px;
  list-style: none;
}

.storys {
  margin: auto;
}

.story {
  position: relative;
  height: 567px;
  width: auto;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 50px;
}

.story-photo {
  height: 567px;
  width: auto;
  margin: auto;
  border-radius: 50px;
  transition: transform 0.3s;
  background-size: cover;
}

.story:hover img {
  transform: scale(1.2);
  border-radius: 50px;
}

.btn-storys {
  bottom: 53px;
  left: 40px;
}

.story:hover .btn-storys {
  padding: 7px 25px;
  transform: scale(1);
  background-color: #286562;
  border-radius: 50px;
}

.story:active .btn-storys {
  background-color: #efa501;
}

.story:hover .vector {
  transform: none;
}

.story-title {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 60px;
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  cursor: pointer;
}

.story-subtitle {
  position: absolute;
  z-index: 3;
  width: 570px;
  left: 60px;
  top: 140px;
  color: #fff;
  font-size: 20px;
  line-height: 142%;
  cursor: pointer;
}

.gradient-story {
  position: absolute;
  z-index: 1;
  height: 567px;
  width: 1100px;
  border-radius: 50px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  cursor: pointer;
}

.history-nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: border-color 0.3s;
}

.history-nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  content: "";
}

.history-nav-link:hover::after {
  border-bottom-color: #fff;
}

.history-nav-link:active::after {
  border-bottom-color: #efa501;
}

.history-nav {
  position: absolute;
  z-index: 3;
  right: 60px;
  bottom: 60px;
  display: flex;
  gap: 35px;
  cursor: pointer;
}

.list {
  padding-top: 40px;
  list-style: none;
}

.list-list {
  position: relative;
  padding-left: 15px;
}

.list-list::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  content: "";
  background-color: white;
  border-radius: 50%;
}

.main__feedback {
  padding-bottom: 135px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feedback-img {
  width: 370px;
  height: 370px;
  margin: auto;
  border-radius: 50px;
  object-fit: cover;
}

.feedback-title {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

.feedback-subtitle {
  width: 380px;
  font-size: 20px;
  line-height: 142%;
  color: #a6a6a6;
}

.feedback-email {
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

.feedback-email:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

.feedback-email:active {
  color: #286562;
}

.feedback-text {
  padding-top: 104px;
}

.footer__wrapper {
  background-color: #f4f0e9;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  gap: 527px;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 25px;
}

.btn-social {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.footer-title {
  color: #a6a6a6;
  font-size: 20px;
  line-height: 142%;
  white-space: nowrap;
}

.name-social {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 142%;
  transition: border-color 0.3s;
}

.name-social::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  content: "";
}

.name-social:hover::after {
  border-bottom-color: black;
}
