.tours-form__select::after {
  position: absolute;
  z-index: 1;
  width: 13px;
  height: 13px;
  margin-top: 33px;
  margin-left: -42px;
  content: url("../../../../images/select_icon.svg");
}

.tours-form__select {
  color: #a6a6a6;
}

@media (max-width: 930px) {
  .tours-form__select::after {
    margin-top: 25px;
    margin-left: -32px;
  }
}
