.choose-tour__btn {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-weight: 550;
  font-size: 23px;
  line-height: 28px;
  color: var(--black-color);
  background-color: var(--background-color);
  letter-spacing: -0.03em;
  border: none;
  background: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

@media (hover: hover) {
  .choose-tour__btn:hover {
    box-shadow: 0 2px 0 var(--black-color);
  }
}

@media (max-width: 930px) {
  .choose-tour__btn {
    font-size: 16px;
    line-height: 102%;
  }
}
