.tours-form__select-input {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 100%;
  height: 68px;
  padding-left: 20px;
  margin-top: 10px;
  border: 1px solid var(--third-rate-color);
  border-radius: 10px;
  background-color: var(--background-color);
  font-size: 20px;
  transition-duration: 0.3s;
  cursor: pointer;
  color: var(--secondary-color);
}

.selected {
  color: var(--black-color);
}

.tours-form__select-input option {
  color: var(--black-color);
}

.tours-form__select-input:hover {
  background-color: var(--third-rate-color);
  cursor: pointer;
}

.tours-form__select-input:focus {
  outline: 1px solid var(--secondary-color);
}

@media (max-width: 930px) {
  .tours-form__select-input {
    width: 278px;
    height: 43px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .tours-form__select-input {
    width: 238px;
    font-size: 14px;
  }
}
