.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 930px) {
  .header__content {
    gap: 40px;
  }
}
