.gallery__photo {
  max-width: 100%;
  width: 444px;
  min-width: 150px;
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .gallery__photo {
    width: 316px;
  }
}

@media (max-width: 768px) {
  .gallery__photo {
    height: 206px;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .gallery__photo {
    height: 158px;
  }
}
@media (max-width: 360px) {
  .gallery__photo {
    height: 110px;
  }
}
