.gallery__item_row_second {
  display: flex;
}

@media (max-width: 1024px) {
  .gallery__item_row_second:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .gallery__item_row_second:nth-child(2) {
    display: none;
  }
}
