.header__title {
  padding-top: 116px;
  width: 768px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
}

@media (max-width: 1199px) {
  .header__title {
    padding-top: 117px;
  }
}

@media (max-width: 930px) {
  .header__title {
    padding-top: 54px;
    width: 340px;
    font-size: 34px;
    line-height: 112%;
  }
}
