.header__title {
  padding-top: 119px;
  width: 768px;
  color: #fff;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.025em;
}

@media (max-width: 1199px) {
  .header__title {
    padding-top: 117px;
  }
}

@media (max-width: 930px) {
  .header__title {
    padding-bottom: 40px;
    padding-top: 91px;
    margin-top: -35px;
    font-size: 34px;
    line-height: 112%;
  }
}
