.reviews__text {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0;
}

.reviews__text:first-of-type {
  padding-bottom: 28px;
}

@media (max-width: 930px) {
  .reviews__text {
    font-size: 16px;
    line-height: 143%;
  }

  .reviews__text:first-of-type {
    padding-bottom: 24px;
  }
}

@media (max-width: 350px) {
  .reviews__text {
    font-size: 14px;
  }
}
