.tours-form__wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1199px) {
  .tours-form__wrapper {
    row-gap: 33px;
    column-gap: 20px;
  }
}

@media (max-width: 930px) {
  .tours-form__wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 350px) {
  .tours-form__wrapper {
    width: 290px;
    grid-template-columns: 1fr;
  }
}
