.gallery__item {
  overflow: hidden;
  border-radius: 50px;
}

@media (max-width: 500px) {
  .gallery__item {
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .gallery__photo {
    height: auto;
  }
}
