.gallery__photo-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50px;
}

@media (max-width: 500px) {
  .gallery__photo-small {
    border-radius: 20px;
  }
}
@media (max-width: 360px) {
  .gallery__photo-small {
    height: 110px;
  }
}
