.reviews__item {
  position: relative;
  padding: 38px 40px 0;

  background-color: #f4f0e9;
  list-style: none;
  border-radius: 50px;
}

@media (max-width: 930px) {
  .reviews__item {
    margin: 0px 20px;
    padding: 20px;
    border-radius: 20px;
  }
}
