.stories__nav {
  position: absolute;
  z-index: 3;
  right: 60px;
  bottom: 58px;
  display: flex;
  gap: 36px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .stories__nav {
    right: 61px;
    bottom: 59px;
  }
}
