.tours-form__field {
  margin-bottom: 6px;
  display: block;
  cursor: pointer;
}

.tours-form__field input {
  margin-top: 10px;
  text-indent: 20px;
}

.tours-form__field select {
  border: none;
  outline: none;
}

.tours-form__field option {
  color: var(--black-color);
}

.tours-form__field ::placeholder {
  color: var(--secondary-color);
}

@media (max-width: 1199px) {
  .tours-form__field {
    margin-bottom: 4px;
    width: 389px;
  }
}

@media (max-width: 930px) {
  .tours-form__field {
    margin-bottom: 5px;
    width: 278px;
    border-radius: 10px;
    font-size: 16px;
  }

  .tours-form__field input {
    margin-bottom: 6px;
    margin-top: 11px;
    text-indent: 10px;
  }

  .tours-form__field select {
    margin-bottom: 11px;
  }
}

@media (max-width: 350px) {
  .tours-form__field {
    width: 238px;
    font-size: 14px;
  }

  .tours-form__field input {
    margin-top: 12px;
  }
}
