.choose-tour__btn-label_state-active {
  color: var(--active-color);
  box-shadow: 0 2px 0 var(--active-color);
  transition: box-shadow 0.3s ease;
  pointer-events: none;
}

.choose-tour__btn-label_state-active:hover {
  box-shadow: 0 2px 0 var(--active-color);
  cursor: default;
}
