.feedback__img {
  padding-left: 9px;
  width: 370px;
  height: 370px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 930px) {
  .feedback__img {
    padding-left: 0;
    width: 130px;
    height: 133px;
    align-items: center;
    border-radius: 20px;
  }
}
