.services__text {
  z-index: 3;
  display: flex;
  padding: 50px;
  flex-direction: column;
  gap: 17px;
  background-color: transparent;
}

@media (max-width: 930px) {
  .services__text {
    padding: 25px;
    gap: 14px;
  }
}
