.tours-form__fieldset {
  padding-top: 32px;
}

@media (max-width: 1199px) {
  .tours-form__fieldset {
    padding-top: 34px;
  }
}

@media (max-width: 930px) {
  .tours-form__fieldset {
    padding-top: 23px;
  }
}

@media (max-width: 350px) {
  .tours-form__fieldset {
    padding-left: 26px;
  }
}
