.gallery__photos {
  display: grid;
  gap: 30px;
  height: 301px;
  max-width: 1860px;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(200px, 444px));
}

@media (max-width: 1024px) {
  .gallery__photos {
    grid-template-columns: repeat(3, minmax(150px, 315px));
    gap: 20px;
    max-width: 984px;
  }
}

@media (max-width: 360px) {
  .gallery__photos {
    grid-template-columns: repeat(2, minmax(100px, 150px));
    gap: 10px;
    height: 110px;
    max-width: 318px;
  }
}
