.gallery__photos {
  display: flex;
  padding: 0px 30px 27px 30px;
  justify-content: center;
  gap: 30px;
}

.gallery__photos:last-child {
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .gallery__photos {
    padding: 0px 20px 30px 20px;
    gap: 20px;
  }
}

@media (max-width: 930px) {
  .gallery__photos {
    padding: 0px 29px 20px 29px;
    gap: 14px;
  }
}
