.stories__benefit-item {
  padding-left: 15px;
  display: flex;
  align-items: center;
  color: var(--white-color);
}

.stories__benefit-item::before {
  margin-right: 9px;
  width: 4px;
  height: 4px;
  content: "";
  display: inline-block;
  background-color: var(--white-color);
  border-radius: 50%;
}

@media (max-width: 930px) {
  .stories__benefit-item {
    padding-left: 10px;
  }
}
