.stories__actions {
  z-index: 3;
  padding: 49px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1199px) {
  .stories__actions {
    padding: 50px 32px;
  }
}

@media (max-width: 930px) {
  .stories__actions {
    padding: 25px 3px;
  }
}
