.choose-tour__btn-label {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--black-color);
  background-color: var(--background-color);
}

.choose-tour__btn-label::after {
  content: "";
  border-bottom: 2px;
  transition: border-color 0.3s;
}

@media (max-width: 930px) {
  .choose-tour__btn-label {
    margin-left: 6px;
    font-size: 16px;
    line-height: 102%;
    letter-spacing: 0.016em;
  }
}

@media (max-width: 320px) {
  .choose-tour__btn-label {
    margin-left: 0;
  }
}
