.choose-tour__btn-label {
  font-weight: 550;
  font-size: 23px;
  line-height: 28px;
  color: var(--black-color);
  background-color: var(--background-color);
  letter-spacing: -0.03em;
}

.choose-tour__btn-label::after {
  content: "";
  border-bottom: 2px;
  transition: border-color 0.3s;
}

@media (max-width: 1199px) {
  .choose-tour__btn-label {
    letter-spacing: -0.018em;
  }
}

@media (max-width: 930px) {
  .choose-tour__btn-label {
    font-size: 16px;
    line-height: 102%;
    letter-spacing: 0.016em;
  }
}
