.tours-form__btn-reset {
  width: 235px;
  height: 58px;
  border: none;
  padding: 15px 30px;
  background-color: #e0f0e5;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: #f1f3f2;
  }

  &:active {
    background-color: #d9dfdb;
  }
}

@media (max-width: 930px) {
  .tours-form__btn-reset {
    width: 135px;
    height: 47px;
    padding: 12px 30px;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .tours-form__btn-reset {
    width: 125px;
    height: 47px;
  }
}
