.tours-form__btn-reset {
  width: 235px;
  height: 58px;
  padding: 15px 30px;
  border: none;
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  border-radius: 10px;
  transition-duration: 0.3s;
  color: var(--primary-color);
  background-color: #e0f0e5;
  cursor: pointer;
}

@media (hover: hover) {
  .tours-form__btn-reset:hover {
    background-color: #f1f3f2;
  }

  .tours-form__btn-reset:active {
    background-color: #d9dfdb;
  }
}

@media (max-width: 930px) {
  .tours-form__btn-reset {
    width: 135px;
    height: 47px;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .tours-form__btn-reset {
    width: 125px;
    height: 47px;
    font-size: 13px;
  }
}
