.gallery__item_row_three {
  display: flex;
}

@media (max-width: 1024px) {
  .gallery__item_row_three:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .gallery__item_row_three:nth-child(3) {
    display: none;
  }
}
