.tours-form__age-option {
  display: flex;
  padding-bottom: 34px;
  justify-content: flex-start;
  align-items: center;
  accent-color: var(--black-color);
}

@media (max-width: 930px) {
  .tours-form__age-option {
    padding-bottom: 31px;
    align-items: center;
  }
}
