.tours-form__age-option {
  display: flex;
  padding-bottom: 34px;
  justify-content: flex-start;
  accent-color: #000000;
}

@media (max-width: 930px) {
  .tours-form__age-option {
    padding-bottom: 30px;
    align-items: center;
  }
}
