:root {
  --primary-color: #286562;
  --active-color: #efa501;
  --secondary-color: #a6a6a6;
  --third-rate-color: #f4f0e9;
  --background-color: #f9f7f4;
  --black-color: #1b1f2b;
  --white-color: #ffffff;
}
