.gallery {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  align-items: center;
}

@media (max-width: 930px) {
  .gallery {
    width: 360px;
    padding-top: 10px;
  }
}
