.gallery {
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {
  .gallery {
    width: 360px;
    padding-top: 10px;
  }
}
