.header {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 830px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-image: url("../../../images/header_img.png");
}

@media (max-width: 1199px) {
  .header {
    background-image: url("../../../images/header_img_full.png");
  }
}

@media (max-width: 930px) {
  .header {
    min-height: 488px;
  }
}
