.tours-form__btn-submit {
  width: 235px;
  height: 58px;
  border: none;
  padding: 15px 30px;
  background-color: #286562;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #3b7e7b;
  }

  &:active {
    background-color: #627f7e;
  }
}

@media (max-width: 930px) {
  .tours-form__btn-submit {
    width: 135px;
    height: 47px;
    padding: 12px 30px;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .tours-form__btn-submit {
    width: 125px;
    height: 47px;
  }
}
