.services__price {
  z-index: 2;
  width: 270px;
  font-size: 17px;
  line-height: 142%;
  color: var(--white-color);
  cursor: pointer;
}

@media (max-width: 930px) {
  .services__price {
    font-size: 16px;
    letter-spacing: -0.01em;
  }
}
