.tours-form__check-agreement {
  color: var(--black-color);
  font-size: 17px;
  text-decoration: none;
  letter-spacing: -0.01em;
}

@media (hover: hover) {
  .tours-form__check-agreement:hover {
    border-bottom: 1px solid var(--black-color);
  }

  .tours-form__check-agreement:active {
    color: #286562;
  }
}

@media (max-width: 930px) {
  .tours-form__check-agreement {
    letter-spacing: -0.03em;
  }
}
