.tours-form__pseudo-checkbox {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0px;
  width: 26px;
  height: 25px;
  background-color: var(--white-color);
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--black-color);
}
