.tours-form__actions {
  display: flex;
  gap: 29px;
}

@media (max-width: 930px) {
  .tours-form__actions {
    padding-bottom: 20px;
    gap: 7px;
  }
}

@media (max-width: 350px) {
  .tours-form__actions {
    gap: 5px;
  }
}
