.tours-form {
  margin: auto;
  padding: 74px 70px 70px;
  width: 1170px;
  height: auto;
  box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: 50px;
}

input::placeholder {
  color: grey;
  font-size: 20px;
  letter-spacing: 0.02em;
}

@media (max-width: 1199px) {
  .tours-form {
    padding: 64px 60px 60px;
    width: 918px;
  }
}

@media (max-width: 930px) {
  .tours-form {
    padding: 23px 20px 20px;
    width: 318px;
    border-radius: 30px;
  }

  input::placeholder {
    font-size: 16px;
  }
}
