.header__item {
  position: relative;
  display: inline-block;
  padding: 5px 0 5px 0;
  transition: border-color 0.3s;
  font-size: 20px;
  font-weight: 400;
  color: var(--white-color);
  cursor: pointer;
  text-decoration: none;
}

.header__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  transition-duration: 0.3s;
  border-bottom: 1px solid #00000000;
}

.header__item:hover::after {
  border-bottom-color: var(--white-color);
}
