.stories__nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: var(--white-color);
  font-size: 20px;
  text-decoration: none;
  transition: border-color 0.3s;
}

@media (hover: hover) {
  .stories__nav-link:focus {
    color: var(--active-color);
  }

  .stories__nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #00000000;
    transition-duration: 0.3s;
    content: "";
  }

  .stories__nav-link:hover::after {
    border-bottom-color: var(--white-color);
  }

  .stories__nav-link:active::after {
    border-bottom-color: var(--active-color);
  }
}

@media (max-width: 930px) {
  .stories__nav-link {
    display: none;
  }
}
