.tours-form__textarea {
  width: 990px;
  height: 112px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid var(--third-rate-color);
  background-color: var(--background-color);
  text-align: start;
  overflow: auto;
  resize: none;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

@media (hover: hover) {
  .tours-form__textarea:hover {
    background-color: var(--third-rate-color);
  }

  .tours-form__textarea:focus {
    outline: 1px solid var(--secondary-color);
  }
}

@media (max-width: 1199px) {
  .tours-form__textarea {
    width: 758px;
  }
}

@media (max-width: 930px) {
  .tours-form__textarea {
    width: 238px;
    height: 92px;
    margin-bottom: 23px;
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .tours-form__textarea {
    width: 218px;
    padding: 10px;
  }
}
