.stories__benefits-list {
  z-index: 4;
  padding-left: 14px;
  color: var(--white-color);
  font-size: 20px;
  line-height: 142%;
  cursor: pointer;
}

@media (max-width: 930px) {
  .stories__benefits-list {
    font-size: 16px;
  }
}
