.tours-form__btn-submit-label {
  color: #ffffff;
  font-size: 20px;
  line-height: 29px;
}

@media (max-width: 930px) {
  .tours-form__btn-submit-label {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 350px) {
  .tours-form__btn-submit-label {
    font-size: 13px;
  }
}
