.footer__name-social {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 142%;
  transition: border-color 0.3s;
  letter-spacing: 0;
}

.footer__name-social::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #00000000;
  transition-duration: 0.3s;
  content: "";
}

.footer__name-social:hover::after {
  border-bottom-color: #000000;
}

@media (max-width: 930px) {
  .footer__name-social {
    font-size: 16px;
  }
}
