.stories__item {
  position: relative;
  width: 100%;
  height: 567px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
}

@media (hover: hover) {
  .stories__item:hover .stories__btn {
    padding: 7px 25px;
    transform: scale(1);
    background-color: var(--primary-color);
    border-radius: 50px;
  }
  .stories__item:active .stories__btn {
    background-color: var(--active-color);
  }
  .stories__item:hover .services__icon {
    transform: none;
  }

  .stories__item:hover img {
    transform: scale(1.2);
    border-radius: 50px;
  }
}

@media (max-width: 1199px) {
  .stories__item {
    width: 918px;
  }
}

@media (max-width: 930px) {
  .stories__item {
    margin-bottom: 20px;
    width: 318px;
    height: 455px;
    border-radius: 20px;
  }
}

@media (max-width: 350px) {
  .stories__item {
    width: 290px;
    height: 430px;
  }
}
