.stories__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 85px;
  list-style: none;
}

@media (max-width: 930px) {
  .stories__items {
    min-width: 360px;
    padding: 6px 0 55px;
    margin: auto;
  }
}
