.header__search-btn {
  width: 118px;
  height: 34px;
  cursor: pointer;
  transition: color 0.2s;
  border-radius: 10px;
  border: 0;

  &:hover {
    background-color: var(--active-color);
  }

  &:active {
    background-color: #f8e6be;
  }
}

@media (max-width: 930px) {
  .header__search-btn {
    width: 114px;
    height: 34px;
  }
}
