.header__nav {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 182px;
  background-color: #00000000;
}

@media (max-width: 1199px) {
  .header__nav {
    gap: 75px;
  }
}

@media (max-width: 930px) {
  .header__nav {
    margin: auto;
    gap: 32px;
    align-items: center;
  }
}
