.choose-tour__nav {
  padding-top: 7px;
  display: flex;
  justify-content: center;
  gap: 23px;
  flex-wrap: wrap;
}

@media (max-width: 930px) {
  .choose-tour__nav {
    margin: 0px 53px 0px 46px;
    padding-top: 13px;
    height: 56px;
    row-gap: 12px;
    column-gap: 0;
    justify-content: center;
    text-align: center;
  }
}
