.services__btn-label {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #ffffff;
  letter-spacing: 0;
}

@media (max-width: 930px) {
  .services__btn-label {
    font-size: 16px;
  }
}
