.services__btn-label {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: var(--white-color);
  letter-spacing: -0.04em;
}

@media (max-width: 930px) {
  .services__btn-label {
    font-size: 16px;
  }
}
