.tours-form__content {
  width: 1040px;
  height: auto;
  margin: auto;
  padding: 69px 65px;
  display: block;
  background-color: var(--white-color);
  border-radius: 50px;
}

@media (max-width: 1199px) {
  .tours-form__content {
    width: 918px;
    padding: 60px 0px;
  }
}

@media (max-width: 930px) {
  .tours-form__content {
    width: 318px;
    padding: 24px 0px 40px;
    border-radius: 30px;
  }
}

@media (max-width: 350px) {
  .tours-form__content {
    width: 290px;
  }
}
