.feedback {
  padding-bottom: 135px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 930px) {
  .feedback {
    width: 360px;
    padding-bottom: 75px;
    margin: auto;
  }
}
