.stories__subtitle {
  z-index: 3;
  padding-bottom: 27px;
  width: 570px;
  color: var(--white-color);
  font-size: 20px;
  line-height: 142%;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .stories__subtitle {
    padding-bottom: 26px;
  }
}

@media (max-width: 930px) {
  .stories__subtitle {
    padding-bottom: 24px;
    width: 263px;
    font-size: 16px;
  }
}
