@media (max-width: 1199px) {
  .header__gradient {
    position: absolute;
    width: 100%;
    height: 830px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}

@media (max-width: 930px) {
  .header__gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 488px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 80%
    );
  }
}
