.header__logo-img {
  padding: 32px 0 30px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .header__logo-img {
    padding: 29px 0 30px;
  }
}

@media (max-width: 930px) {
  .header__logo-img {
    width: 133px;
    height: 23px;
    padding-top: 33px;
  }
}
