.header__logo-img {
  padding-top: 28px;
  padding-bottom: 30px;
  cursor: pointer;
}

@media (max-width: 930px) {
  .header__logo-img {
    width: 133px;
    height: 23px;
    padding-top: 33px;
  }
}
