body {
  scroll-behavior: smooth;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
}

@media (max-width: 930px) {
  .header__number {
    width: 360px;
  }
}
