.reviews__item_first {
  width: 490px;
  height: 633px;
}

@media (max-width: 1199px) {
  .reviews__item_first {
    width: 370px;
    height: 801px;
  }
}

@media (max-width: 930px) {
  .reviews__item_first {
    width: 318px;
    height: 368px;
  }
}
